html {
  background: #000 no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  }

dt {
  display: inline-block;
  width: 150px;
  text-align: center;
}

dd {
  display: inline-block;
  width: fit-content;
  margin: 0;
  float: 
}

.videosContainer {
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  top: 0;
}

.myControllerContainer {
  position: absolute;
  width: 40%;
  height: 50%;
  top: 50%;
  padding-left: 20px;
  color: white
}

.face-api-container {
  position: absolute;
  width: 40%;
  height: 50%;
  top: 50%;
  left: 50%;
  padding-left: 20px;
  color: white
}

#my-id {
  font-weight: bold;
}

.select {
  margin-top: 1em;
  margin-bottom: 1em;
}

form {
  margin-top: 1em;
  margin-bottom: 1em;
}

div #recording, div #end-call {
  margin-top: 1em;
  margin-bottom: 1em;
}

#end-call {
  display: none;
}

#chat-box {
  display: none;
}

#recording {
  display: none;
}

#downloadlink {
  display: none;
}

input[type=text]{
  border-radius: 5px;
  border:#a9a9a9 1px solid;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
  width: 40%;
  font-size: 15px;
  padding: 5px;
}

input[type=text]:focus {
  border:solid 1px #20b2aa;
}

input[type=text], select {
  outline: none;
}

.room-label {
  width: 40%;
  padding: 5px;
  display: inline-block;
}

button {
  font-size: 15px;
  font-weight: bold;
  padding: 6px 20px;
  color: #fff;
  border-style: none;
  text-shadow: 1px 1px 2px #000;
  background: -webkit-gradient(linear, left bottom, left top, from(#36d), color-stop(0.5, #248), to(#36d));
  border-radius: 5px;
  width: 120px;
}

button:hover {
  /* 透明度を20%に指定 */
  opacity: 0.8;
}

video {
  background: black;
  float: left;
}

.face-api-output {
  margin-left: 340px;
}

.unknown {
  color: grey;
}

.neutral {
  color: greenyellow;
}

.happy {
  color: yellow;
}

.sad {
  color: blue;
} 

.angry{
  color: red;
} 
.fearful{
  color: purple;
}

.disgusted{
  color: brown;
}

.surprised{
  color: orange;
}