html {
  background: #000 no-repeat center center fixed;
  color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  width: 100%;
  padding: 20px 2% 10px 4%;
  top: 0;
  display: flex;
  align-items: center;
}

form {
  margin-top: 1em;
  margin-bottom: 1em;
}

dt {
  display: inline-block;
  width: 150px;
  text-align: center;
}

dd {
  display: inline-block;
  width: fit-content;
  margin: 0;
}

/* Header */
.logo {
  height: 48px;
}

/* room form */
.roomController {
  padding-left: 16px;
  display: inline-block;
}

/* 入力フォーム */
#make-call, #end-call {
  width: 430px;
}

.cp_iptxt, .room-label {
  position: relative;
  display: inline-block;
	width: 300px;
	margin: 0;
}

.room-label {
  width: 270px;
}
.cp_iptxt input[type='text'] {
	font: 15px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	padding-left: 4em;
}
.cp_iptxt input[type='text']:focus {
	outline: none;
}
.ef {
	padding: 4px 0;
	border: 0;
	border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}
.ef ~ .focus_line {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	transition: 0.4s;
	background: -webkit-linear-gradient(0deg,#FC466B, #3F5EFB);
}
.ef:focus ~ .focus_line,
.cp_iptxt.ef ~ .focus_line {
	width: 100%;
	transition: 0.4s;
}
.ef ~ label {
	position: absolute;
	z-index: -1;
	top: 4px;
	left: 0;
	width: 100%;
	transition: 0.3s;
	letter-spacing: 0.5px;
	color: #FFF;
}
.ef:focus ~ label, .cp_iptxt.ef ~ label {
	font-size: 12px;
	top: -16px;
	transition: 0.3s;
	color: #FC466B;
  background: -webkit-linear-gradient(0deg,#FC466B, #3F5EFB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#room-id {
  font-size: 1.6rem;
  color: #FC466B;
  background: -webkit-linear-gradient(0deg,#FC466B, #3F5EFB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ボタン */
.btn {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2;
  position: relative;
  display: inline-block;
  padding: 0.5rem 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #000;
  border-radius: 0.5rem;
}
.btn-border-gradient-wrap {
  display: inline-block;
  padding: 0.2rem;
  border-radius: 0.5rem;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#FC466B),
    to(#3F5EFB)
  );
  background: -webkit-linear-gradient(left, #FC466B, #3F5EFB);
  background: linear-gradient(to right, #FC466B, #3F5EFB);
}

.btn-border-gradient-wrap:hover {
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#FC466B),
    to(#3F5EFB)
  );
  background: -webkit-linear-gradient(right, #FC466B,#3F5EFB);
  background: linear-gradient(to left, #FC466B,#3F5EFB);
}

.btn-border-gradient {
  color: #fff;
  background: #000;
}

.mute-controller {
  padding-left: 16px;
}

.inputController {
  padding-left: 16px;
}

#my-id {
  font-weight: bold;
}

/* VIDEO */
.videosContainer {
  display: inline-block;
  width: 78%;
  height: 40%;
}

#myStream {
  height: 100%;
}

.othersVideoContainer {
  height: 100%;
}

.othersVideoContainer > video {
  height: 100%;
}


.myControllerContainer {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  height: 50%;
}

#chat-box {
  height: 50%;
}
#chatLog {
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 200px;
}
.chatForm {
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.speechForm {
  margin-top: 1em;
  margin-bottom: 1em;
}

#msg {
  border:0;
  font-size:1.3em;
  color:#aaa;
  border:solid 1px #ccc;
  border-radius: 10px;
  box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}

.face-api-container {
  z-index: 100;
  position: absolute;
  top: 135px;
  left: 0;
  width: 640px;
  height: 480px;
  background-color: #000;
}
#end-call {
  display: none;
}

#chat-box {
  display: none;
}

video {
  background: black;
  float: left;
}

.face-api-output {
  margin-left: 340px;
}

.unknown {
  color: grey;
}

.neutral {
  color: greenyellow;
}

.happy {
  color: yellow;
}

.sad {
  color: blue;
} 

.angry{
  color: red;
} 
.fearful{
  color: purple;
}

.disgusted{
  color: brown;
}

.surprised{
  color: orange;
}
